.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.flexcol {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.panel {
    border-style: outset;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.stretch {
    flex-grow: 1;
}