input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

div.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.slider-input {
    width: 50px;
    -moz-appearance: textfield;
    margin: 2px;
}

.slider-input::-webkit-outer-spin-button,
.slider-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
